---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.jsx';
import Divider from '../../components/Divider.jsx';

import CardPlaceholder from '../../components/templates/CardPlaceholder';

import '../../styles/init.css';
---

<Layout title='Tiny Visions - Landing Page'>
  <Navbar client:load activeLink="readings" />
  <main class='bg-palette-c-dark text-palette-c-light sm:text-2xl'>
    <Divider/>
    <header class='flex flex-col items-center justify-center m-4'>
      <h2 class='text-2xl sm:text-4xl text-center font-bold text-palette-c-accent'>One Card Reading</h2>
      <p class='md:w-1/2 m-8 sm:text-2xl text-left'>
        This traditional approach provides you with a quick, simple insight. One single tarot card is drawn, allowing you to interpret its symbolism.
      </p>
    </header>
    <Divider/>

    <section class='flex flex-col gap-4 m-12 items-center justify-center'>
      <CardPlaceholder/>
      <p class='text-center mb-6'>Tarot</p>
      <p class='md:w-1/2'>
        Upon drawing a card, take a moment to study its image. Consider the themes which catch your eye, and attempt to reflect on how they may apply to you. Recount that tarot cards can aid your journey in self-reflection, and trust in the potential wisdom they offer. 
      </p>
    </section>

    <section class="flex flex-col gap-4 m-12 items-center justify-center">
      <button class='rounded-md py-2 px-8 bg-palette-c-accent text-palette-c-light'>
        Begin Reading
      </button>
    </section>
    
    <Divider/>

    <div class='mb-12'></div>

  </main>
</Layout>