---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.jsx';
import Divider from '../../components/Divider.jsx';
import CardPlaceholder from '../../components/templates/CardPlaceholder';
import ThreeCardReading from '../../components/ThreeCardReading.jsx';
import Footer from '../../components/Footer.jsx';

import '../../styles/init.css';

const cardData = await Astro.glob('../../content/markdown/cards/*.md');
const mappedCardData = cardData.map((data) => {
  return {
    frontmatter: data.frontmatter,
    content: data.rawContent(),
  };
});
---

<Layout title='Tiny Visions - Three Card Reading'>
  <Navbar client:load activeLink='readings' />
  <main
    class='bg-palette-c-dark text-palette-c-light mx-auto sm:text-2xl px-4 sm:px-8 mb-12'
  >
    <Divider />
    <header class='my-12 max-w-4xl mx-auto'>
      <h2
        class='text-center text-2xl sm:text-4xl mb-16 font-bold text-palette-c-accent'
      >
        Three Card Reading
      </h2>
      <p class='mb-2'>
        With this traditional approach, three tarot cards are drawn, allowing
        you to interpret their meanings and ties to one another. From left to
        right, each card represents the past, present, and future.
      </p>
    </header>
    <Divider />

    <section
      class='flex flex-wrap gap-4 mt-12 max-w-5xl mx-auto items-around justify-around'
    >
      <div>
        <CardPlaceholder />
        <p class='text-center my-6'>Past</p>
      </div>
      <div>
        <CardPlaceholder />
        <p class='text-center my-6'>Present</p>
      </div>
      <div>
        <CardPlaceholder />
        <p class='text-center my-6'>Future</p>
      </div>
    </section>
    <section
      class='flex flex-col gap-4 mt-12 max-w-5xl mx-auto items-center justify-center'
    >
      <p class='mb-2' '>
        The first card symbolizes the echoes of past events and circumstances
        which have shaped your present existence. The second card, representing
        the ever-shifting present, may reveal knowledge and obstacles standing
        in your way. The third card may unlock the secrets of what has yet to
        come, providing a glimpse into the path that lies ahead of you. With
        your interpretation of each card, you may gain a deeper understanding of
        your situation and potential paths forward.
      </p>
    </section>

    <div class='max-w-5xl mx-auto'>
      <ThreeCardReading cards={mappedCardData} client:load />
    </div>

    <Divider />
  </main>
  <Footer />
</Layout>
