---
import Layout from '../layouts/Layout.astro';

import Title from '../components/Title.jsx';
import Navbar from '../components/Navbar.jsx';
import Divider from '../components/Divider.jsx';
import CardArticle from '../components/templates/CardArticle.jsx';

import '../styles/init.css';
---

<Layout title='Tiny Visions - Landing Page'>
  <Navbar client:load />
  <main class='bg-palette-c-dark text-palette-c-light'>
    <Divider />
    <Title />

    <Divider />
    <CardArticle title='Quiz' link='/quiz' reverse={true}
			description="Embark on a fantastical quest, tackling challenges that will test your character. Faced with ten scenarios, you may choose between three responses. Following each scenario, keep in mind that there are no right answers. Use the best of your judgement." 
		/>

    <Divider />
    <CardArticle title='Readings' link='/readings' reverse={false} 
			description="Follow a more traditional path with a classic tarot card reading. You may choose between a one-card reading or a three-card reading."
		/>

    <Divider />
    <CardArticle title='Tarots' link='/tarots' reverse={true} 
			description="Examine a catalogue of tarot cards, revealing their designs and interpretations. It is possible to encounter each tarot card after a quiz with the appropriate responses, or from having them drawn during a reading."
		/>

    <Divider />

    <div class='p-16'></div>
  </main>
</Layout>

<!-- <style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style> -->
