---
import Layout from '../layouts/Layout.astro';

import Navbar from '../components/Navbar.jsx';
import Divider from '../components/Divider.jsx';
import LoginForm from '../components/LoginForm.jsx';

import '../styles/init.css';
---
<Layout title="Tiny Visions - Login">
  <main>
    <Navbar/>
    <Divider/>
    <LoginForm/>
  </main>
</Layout>