---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.jsx';
import Divider from '../components/Divider.jsx';

import '../styles/init.css';
---

<Layout title='Tiny Visions - Quiz'>
  <Navbar client:load activeLink="quiz" />
  <main class='bg-palette-c-dark text-palette-c-light md:text-xl'>
    <Divider/>
    <header class='flex flex-col items-center justify-center m-4'>
      <h2 class='text-2xl sm:text-4xl text-center font-bold text-palette-c-accent'>Quiz</h2>
      <div class='m-8 sm:text-2xl text-left md:w-1/2'>
        <p class="mb-2">
          Embark on a fantastical quest, facing difficult challenges that will test your very character.
        </p>
        <p class="mb-2">
          It is crucial to remember that there are no correct answers on this quest. Harness your judgement and make decisions in line with your beliefs.
        </p>
        <p>
          Upon completion, you will receive a tarot card attuned to your choices.
        </p>
      </div>
      <button class='rounded-md py-2 px-8 bg-palette-c-accent text-palette-c-light'>
        Begin Quest
      </button>
    </header>

    <br/>
    <Divider/>
  </main>
</Layout>
