---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.jsx';
import Divider from '../components/Divider.jsx';

import '../styles/init.css';
---

<Layout title='Tiny Visions - Readings'>
  <Navbar client:load />
  <main class='bg-palette-c-dark text-palette-c-light max-w-4xl mx-auto sm:text-2xl px-4 sm:px-8'>
    <Divider />
    <header class='my-12'>
      <h2 class='text-center text-2xl sm:text-4xl mb-16 font-bold text-palette-c-accent'>Readings</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consectetur libero id faucibus nisl tincidunt eget nullam non. Blandit aliquam etiam erat velit scelerisque in dictum. At urna condimentum mattis pellentesque id. Dui accumsan sit amet nulla facilisi morbi tempus iaculis.
      </p>
    </header>
    <section class='mt-6 text-center grid md:grid-cols-2 max-w-xl gap-4 mx-auto items-center justify-center'>
      <button class='rounded-sm py-2 px-8 bg-palette-c-accent text-palette-c-light'>
        one card reading
      </button>
      <button class='rounded-sm py-2 px-8 bg-palette-c-accent text-palette-c-light'>
        three card reading
      </button>
    </section>
  </main>
</Layout>