---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.jsx';

import '../styles/init.css';
---

<Layout title='Tiny Visions - Test'>
  <Navbar client:load />
  <main class='bg-palette-c-dark text-palette-c-light'></main>
</Layout>
