@import url('./_animations.css');
@import url('./_transitions.css');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

:root {
  --cAccent: #f4387c;
  --cDarker: #1c1b22;
}

body {
  font-family: 'Inter', sans-serif;
}

html {
  scrollbar-color: var(--cAccent) var(--cDarker);
  scrollbar-width: thin;
}
html::-webkit-scrollbar {
  background-color: var(--cDarker);
  width: 12px;
}
html::-webkit-scrollbar-thumb {
  background-color: var(--cAccent);
  border-radius: 100vw;
  border: solid 2px var(--cAccent);
}
html::-webkit-scrollbar-track {
  background-color: var(--cDarker);
  margin-block: 0.5em;
}
html::-webkit-scrollbar-corner {
  background-color: var(--cDarker);
}

input[type='radio'],
input[type='check'] {
  accent-color: var(--cAccent);
}

.tarot-grid {
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

#title-image {
  background-blend-mode: multiply;
  background: linear-gradient(
      180deg,
      rgba(199, 24, 132, 0.9),
      rgba(177, 0, 88, 0.95)
    ),
    url('/tarots/Death.png');
  background-size: cover;
}

#home-link-quiz {
  background-repeat: no-repeat;
  background: linear-gradient(
      180deg,
      rgba(255, 58, 179, 0.1),
      rgba(49, 23, 35, 0.8)
    ),
    url('/tarots/The\ Fool.png');
  background-size: cover;
}
#home-link-readings {
  background-repeat: no-repeat;
  background: linear-gradient(
      180deg,
      rgba(255, 58, 179, 0.05),
      rgba(54, 29, 41, 0.5)
    ),
    url('/tarots/The\ Sun.png');
  background-size: cover;
}
#home-link-tarots {
  background-repeat: no-repeat;
  background: linear-gradient(
      180deg,
      rgba(255, 58, 179, 0.1),
      rgba(65, 40, 53, 0.8)
    ),
    url('/tarots/The\ World.png');
  background-size: cover;
}
