---
import Layout from '@src/layouts/Layout.astro';
import Navbar from '@components/Navbar.jsx';
import Divider from '@components/Divider.jsx';
import QuizResults from '@components/QuizResults.jsx';
import Footer from '@components/Footer.jsx';

import quiz from '../../json/quiz.json';

const cards = await Astro.glob('../../content/markdown/cards/*.md');
const mappedCardData = cards.map((data) => {
  return {
    frontmatter: data.frontmatter,
    content: data.rawContent(),
  };
});

import '@src/styles/init.css';
---

<Layout title='Tiny Visions - Quiz Results'>
  <Navbar client:load activeLink='quiz' />
  <Divider />
  <QuizResults client:only quiz={quiz} cardData={mappedCardData} />
  <div class='mb-12'>
    <Divider />
  </div>
  <Footer />
</Layout>
